force-app/main/default/flows/Gold_Call_Complete.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <description>Populate the TasksToCreate collection with the &apos;Task Call and Email On Day Three&apos;</description>
        <name>Add_Task_Call_and_Email_On_Day_Three_To_List</name>
        <label>Add Task Call and Email On Day Three To List</label>
        <locationX>264</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>TasksToCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Task_Other</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Task_Call_On_Day_Four</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Populate the TasksToCreate collection with the &apos;Task Call On Day Four&apos;</description>
        <name>Add_Task_Call_On_Day_Four_To_List</name>
        <label>Add Task Call On Day Four To List</label>
        <locationX>264</locationX>
        <locationY>1118</locationY>
        <assignmentItems>
            <assignToReference>TasksToCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Task_Call</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Task_Text_On_Day_Four</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Populate the TasksToCreate collection with the &apos;Task Call On Day Two&apos;</description>
        <name>Add_Task_Call_On_Day_Two_To_List</name>
        <label>Add Task Call On Day Two To List</label>
        <locationX>264</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>TasksToCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Task_Call</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Task_Call_and_Email_On_Day_Three</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Populate the TasksToCreate collection with the &apos;Task Other On Day Eight&apos;</description>
        <name>Add_Task_Other_On_Day_Eight_To_List</name>
        <label>Add Task Other On Day Eight To List</label>
        <locationX>264</locationX>
        <locationY>1838</locationY>
        <assignmentItems>
            <assignToReference>TasksToCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Task_Other</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Task_Other_On_Day_Eleven</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Populate the TasksToCreate collection with the &apos;Task Other On Day Eleven&apos;</description>
        <name>Add_Task_Other_On_Day_Eleven_To_List</name>
        <label>Add Task Other On Day Eleven To List</label>
        <locationX>264</locationX>
        <locationY>2078</locationY>
        <assignmentItems>
            <assignToReference>TasksToCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Task_Other</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Task_Other_On_Day_Fourteen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Populate the TasksToCreate collection with the &apos;Task Other On Day Fourteen&apos;</description>
        <name>Add_Task_Other_On_Day_Fourteen_To_List</name>
        <label>Add Task Other On Day Fourteen To List</label>
        <locationX>264</locationX>
        <locationY>2318</locationY>
        <assignmentItems>
            <assignToReference>TasksToCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Task_Other</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Case_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Populate the TasksToCreate collection with the &apos;Task Other On Day Six&apos;</description>
        <name>Add_Task_Other_On_Day_Six_To_List</name>
        <label>Add Task Other On Day Six To List</label>
        <locationX>264</locationX>
        <locationY>1598</locationY>
        <assignmentItems>
            <assignToReference>TasksToCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Task_Other</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Task_Other_On_Day_Eight</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Populate the TasksToCreate collection with the &apos;Task Text On Day Four&apos;</description>
        <name>Add_Task_Text_On_Day_Four_To_List</name>
        <label>Add Task Text On Day Four To List</label>
        <locationX>264</locationX>
        <locationY>1358</locationY>
        <assignmentItems>
            <assignToReference>TasksToCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Task_Text</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Task_Other_On_Day_Six</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns the cases that are received via parameters to a collection</description>
        <name>GetCases</name>
        <label>GetCases</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>CaseRecords</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Gold_Call_Complete</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Case_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Populates the on day three call and email task with the required data.</description>
        <name>Task_Call_and_Email_On_Day_Three</name>
        <label>Task Call and Email On Day Three</label>
        <locationX>264</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>Task_Other.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OnDayThree</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task_Other.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Other_on_day_three_description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task_Other.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Other_on_day_three_subject</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task_Other.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Call and Email</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task_Other.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SalesRTId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task_Other.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Case_Records.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task_Other.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task_Other.Activity_Time__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task_Other.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Case_Records.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task_Other.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Case_Records.Opportunity__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task_Other.Applicant_Mobile__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Case_Records.Opportunity__r.Applicant_Mobile__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task_Other.Applicant_Work_Phone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Case_Records.Opportunity__r.Applicant_Phone__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task_Other.Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Case_Records.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Task_Call_and_Email_On_Day_Three_To_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Populates the on day four call task with the required data.</description>
        <name>Task_Call_On_Day_Four</name>
        <label>Task Call On Day Four</label>
        <locationX>264</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>Task_Call.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OnDayFour</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task_Call.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Call_on_day_four_description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task_Call.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Call_on_day_four_subject</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task_Call.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Call</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task_Call.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SalesRTId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task_Call.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Case_Records.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task_Call.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task_Call.Activity_Time__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task_Call.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Case_Records.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task_Call.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Case_Records.Opportunity__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task_Call.Applicant_Mobile__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Case_Records.Opportunity__r.Applicant_Mobile__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task_Call.Applicant_Work_Phone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Case_Records.Opportunity__r.Applicant_Phone__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task_Call.Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Case_Records.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Task_Call_On_Day_Four_To_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Populate the on day two call task with the required data.</description>
        <name>Task_Call_On_Day_Two</name>
        <label>Task Call On Day Two</label>
        <locationX>264</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>Task_Call.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OnDayTwo</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task_Call.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Call_on_day_two_description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task_Call.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Call_on_day_two_subject</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task_Call.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Call</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task_Call.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SalesRTId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task_Call.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Case_Records.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task_Call.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task_Call.Activity_Time__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task_Call.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Case_Records.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task_Call.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Case_Records.Opportunity__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task_Call.Applicant_Mobile__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Case_Records.Opportunity__r.Applicant_Mobile__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task_Call.Applicant_Work_Phone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Case_Records.Opportunity__r.Applicant_Phone__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task_Call.Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Case_Records.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Task_Call_On_Day_Two_To_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Populates the on day eight other task with the required data.</description>
        <name>Task_Other_On_Day_Eight</name>
        <label>Task Other On Day Eight</label>
        <locationX>264</locationX>
        <locationY>1718</locationY>
        <assignmentItems>
            <assignToReference>Task_Other.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OnDayEight</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task_Other.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Other_on_day_eight_description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task_Other.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Other_on_day_eight_subject</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task_Other.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Other</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task_Other.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SalesRTId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task_Other.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Case_Records.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task_Other.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task_Other.Activity_Time__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task_Other.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Case_Records.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task_Other.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Case_Records.Opportunity__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task_Other.Applicant_Mobile__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Case_Records.Opportunity__r.Applicant_Mobile__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task_Other.Applicant_Work_Phone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Case_Records.Opportunity__r.Applicant_Phone__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task_Other.Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Case_Records.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Task_Other_On_Day_Eight_To_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Populates the on day eleven other task with the required data.</description>
        <name>Task_Other_On_Day_Eleven</name>
        <label>Task Other On Day Eleven</label>
        <locationX>264</locationX>
        <locationY>1958</locationY>
        <assignmentItems>
            <assignToReference>Task_Other.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OnDayEleven</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task_Other.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Other_on_day_eleven_description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task_Other.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Other_on_day_eleven_subject</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task_Other.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Other</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task_Other.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SalesRTId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task_Other.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Case_Records.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task_Other.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task_Other.Activity_Time__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task_Other.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Case_Records.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task_Other.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Case_Records.Opportunity__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task_Other.Applicant_Mobile__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Case_Records.Opportunity__r.Applicant_Mobile__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task_Other.Applicant_Work_Phone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Case_Records.Opportunity__r.Applicant_Phone__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task_Other.Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Case_Records.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Task_Other_On_Day_Eleven_To_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Populates the on day fourteen other task with the required data.</description>
        <name>Task_Other_On_Day_Fourteen</name>
        <label>Task Other On Day Fourteen</label>
        <locationX>264</locationX>
        <locationY>2198</locationY>
        <assignmentItems>
            <assignToReference>Task_Other.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OnDayFourteen</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task_Other.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Other_on_day_fourteen_description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task_Other.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Other_on_day_fourteen_subject</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task_Other.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Other</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task_Other.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SalesRTId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task_Other.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Case_Records.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task_Other.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task_Other.Activity_Time__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task_Other.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Case_Records.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task_Other.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Case_Records.Opportunity__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task_Other.Applicant_Mobile__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Case_Records.Opportunity__r.Applicant_Mobile__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task_Other.Applicant_Work_Phone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Case_Records.Opportunity__r.Applicant_Phone__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task_Other.Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Case_Records.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Task_Other_On_Day_Fourteen_To_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Populates the on day six other task with the required data.</description>
        <name>Task_Other_On_Day_Six</name>
        <label>Task Other On Day Six</label>
        <locationX>264</locationX>
        <locationY>1478</locationY>
        <assignmentItems>
            <assignToReference>Task_Other.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OnDaySix</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task_Other.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Other_on_day_six_description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task_Other.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Other_on_day_six_subject</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task_Other.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Other</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task_Other.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SalesRTId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task_Other.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Case_Records.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task_Other.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task_Other.Activity_Time__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task_Other.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Case_Records.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task_Other.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Case_Records.Opportunity__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task_Other.Applicant_Mobile__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Case_Records.Opportunity__r.Applicant_Mobile__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task_Other.Applicant_Work_Phone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Case_Records.Opportunity__r.Applicant_Phone__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task_Other.Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Case_Records.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Task_Other_On_Day_Six_To_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Populates the on day four text task with the required data.</description>
        <name>Task_Text_On_Day_Four</name>
        <label>Task Text On Day Four</label>
        <locationX>264</locationX>
        <locationY>1238</locationY>
        <assignmentItems>
            <assignToReference>Task_Text.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OnDayFour</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task_Text.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Text_on_day_four_description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task_Text.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Text_on_day_four_subject</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task_Text.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Text Message</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task_Text.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SalesRTId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task_Text.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Case_Records.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task_Text.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task_Text.Activity_Time__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task_Text.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Case_Records.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task_Text.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Case_Records.Opportunity__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task_Text.Applicant_Mobile__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Case_Records.Opportunity__r.Applicant_Mobile__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task_Text.Applicant_Work_Phone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Case_Records.Opportunity__r.Applicant_Phone__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task_Text.Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Case_Records.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Task_Text_On_Day_Four_To_List</targetReference>
        </connector>
    </assignments>
    <formulas>
        <description>On eighth day from the assignment date</description>
        <name>OnDayEight</name>
        <dataType>Date</dataType>
        <expression>IF(
    MOD( {!$Flow.CurrentDate} - DATE(1998, 1, 1), 7) &gt; 3,
    {!$Flow.CurrentDate} + 9,
    IF(
         MOD( {!$Flow.CurrentDate}  - DATE(1998, 1, 1), 7) &gt; 2,
         {!$Flow.CurrentDate}  + 10, 
         {!$Flow.CurrentDate}  + 11
     )
)</expression>
    </formulas>
    <formulas>
        <description>On eleventh day from the assignment date</description>
        <name>OnDayEleven</name>
        <dataType>Date</dataType>
        <expression>IF(
    MOD( {!$Flow.CurrentDate} - DATE(2011, 1, 1), 7) &gt; 1,
    {!$Flow.CurrentDate} + 14,
    IF(
         MOD( {!$Flow.CurrentDate}  - DATE(2011, 1, 1), 7) &gt; 0,
         {!$Flow.CurrentDate}  + 15, 
         {!$Flow.CurrentDate}  + 16
     )
)</expression>
    </formulas>
    <formulas>
        <description>On fourth day from the assignment date</description>
        <name>OnDayFour</name>
        <dataType>Date</dataType>
        <expression>IF(
    MOD( {!$Flow.CurrentDate} - DATE(2020, 1, 1), 7) &gt; 4,
    {!$Flow.CurrentDate} + 3,
    IF(
         MOD( {!$Flow.CurrentDate}  - DATE(2020, 1, 1), 7) &gt; 3,
         {!$Flow.CurrentDate}  + 4, 
         {!$Flow.CurrentDate}  + 5
     )
)</expression>
    </formulas>
    <formulas>
        <description>On fourteenth day from the assignment date</description>
        <name>OnDayFourteen</name>
        <dataType>Date</dataType>
        <expression>IF(
    MOD( {!$Flow.CurrentDate} - DATE(2020, 1, 1), 7) &gt; 4,
    {!$Flow.CurrentDate} + 17,
    IF(
         MOD( {!$Flow.CurrentDate}  - DATE(2020, 1, 1), 7) &gt; 3,
         {!$Flow.CurrentDate}  + 18, 
         {!$Flow.CurrentDate}  + 19
     )
)</expression>
    </formulas>
    <formulas>
        <description>On sixth day from the assignment date</description>
        <name>OnDaySix</name>
        <dataType>Date</dataType>
        <expression>IF(
    MOD( {!$Flow.CurrentDate} - DATE(2011, 1, 1), 7) &gt; 1,
    {!$Flow.CurrentDate} + 7,
    IF(
         MOD( {!$Flow.CurrentDate}  - DATE(2011, 1, 1), 7) &gt; 0,
         {!$Flow.CurrentDate}  + 8, 
         {!$Flow.CurrentDate}  + 9
     )
)</expression>
    </formulas>
    <formulas>
        <description>On third day from the assignment date</description>
        <name>OnDayThree</name>
        <dataType>Date</dataType>
        <expression>IF(
    MOD( {!$Flow.CurrentDate} - DATE(1998, 1, 1), 7) &gt; 3,
    {!$Flow.CurrentDate} + 2,
    IF(
         MOD( {!$Flow.CurrentDate}  - DATE(1998, 1, 1), 7) &gt; 2,
         {!$Flow.CurrentDate}  + 3, 
         {!$Flow.CurrentDate}  + 4
     )
)</expression>
    </formulas>
    <formulas>
        <description>On second day from the assignment date</description>
        <name>OnDayTwo</name>
        <dataType>Date</dataType>
        <expression>IF(
    MOD( {!$Flow.CurrentDate} - DATE(1999, 1, 1), 7) &gt; 1,
    {!$Flow.CurrentDate} + 1,
    IF(
         MOD( {!$Flow.CurrentDate}  - DATE(1999, 1, 1), 7) &gt; 0,
         {!$Flow.CurrentDate}  + 2, 
         {!$Flow.CurrentDate}  + 3
     )
)</expression>
    </formulas>
    <interviewLabel>Gold Call Complete {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Gold Call Complete</label>
    <loops>
        <description>Iterates over the Case list stored in CaseRecords</description>
        <name>Case_Records</name>
        <label>Loop Case Records</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <collectionReference>CaseRecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Task_Call_On_Day_Two</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Tasks</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Inserts all the tasks already created</description>
        <name>Create_Tasks</name>
        <label>Create Tasks</label>
        <locationX>176</locationX>
        <locationY>2534</locationY>
        <inputReference>TasksToCreate</inputReference>
    </recordCreates>
    <recordLookups>
        <description>Query for the Task&apos;s Sales record type</description>
        <name>SalesRT</name>
        <label>SalesRT</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetCases</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Task</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sales</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>SalesRTId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>SalesRT</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <textTemplates>
        <name>Call_on_day_four_description</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Call on the fourth day of the assignment asking for documents</text>
    </textTemplates>
    <textTemplates>
        <name>Call_on_day_four_subject</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Call on the fourth day</text>
    </textTemplates>
    <textTemplates>
        <description>Call on the second day from the assignment date.</description>
        <name>Call_on_day_two_description</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Call on the second day from the assignment date asking for documents.</text>
    </textTemplates>
    <textTemplates>
        <description>Call on the second day</description>
        <name>Call_on_day_two_subject</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Call on the second day</text>
    </textTemplates>
    <textTemplates>
        <name>Other_on_day_eight_description</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Call, Text Message, Email on the eighth day of the assignment asking for documents</text>
    </textTemplates>
    <textTemplates>
        <name>Other_on_day_eight_subject</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Email, text or call on the eighth day</text>
    </textTemplates>
    <textTemplates>
        <description>Email, text or call on the eleventh day</description>
        <name>Other_on_day_eleven_description</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Call, Text Message, Email on the eleventh day of the assignment asking for documents</text>
    </textTemplates>
    <textTemplates>
        <description>Email, text or call on the eleventh day</description>
        <name>Other_on_day_eleven_subject</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Email, text or call on the eleventh day</text>
    </textTemplates>
    <textTemplates>
        <name>Other_on_day_fourteen_description</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Call, Text Message, Email on the fourteenth day of the assignment asking for documents</text>
    </textTemplates>
    <textTemplates>
        <name>Other_on_day_fourteen_subject</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Email, text or call on the fourteenth day</text>
    </textTemplates>
    <textTemplates>
        <description>Email, call, text on day six</description>
        <name>Other_on_day_six_description</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Call, Text Message, Email on the sixth day of the assignment asking for documents</text>
    </textTemplates>
    <textTemplates>
        <description>Email, text or call on the sixth day</description>
        <name>Other_on_day_six_subject</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Email, text or call on the sixth day</text>
    </textTemplates>
    <textTemplates>
        <description>Email, call on day three of the assignment</description>
        <name>Other_on_day_three_description</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Call and Email on the third day of the assignment asking for documents.</text>
    </textTemplates>
    <textTemplates>
        <description>Call, Email on third day</description>
        <name>Other_on_day_three_subject</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Call and Email on the third day</text>
    </textTemplates>
    <textTemplates>
        <description>Send sms on day four</description>
        <name>Text_on_day_four_description</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Text on the fourth day of the assignment asking for documents</text>
    </textTemplates>
    <textTemplates>
        <name>Text_on_day_four_subject</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Text on the fourth day</text>
    </textTemplates>
    <variables>
        <description>Case records collection</description>
        <name>CaseRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <description>Cases received via parameters</description>
        <name>Gold_Call_Complete</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <description>Stores the tasks&apos;s Sales record type ID</description>
        <name>SalesRTId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Call task to be created</description>
        <name>Task_Call</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <description>Email task to be created</description>
        <name>Task_Email</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <description>Call email or text task to be created</description>
        <name>Task_Other</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <description>Text task to be created</description>
        <name>Task_Text</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <description>Tasks list to be inserted</description>
        <name>TasksToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
</Flow>
